[project]
name = "tf01"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "pandas>=3.0.0",
    "python-dateutil>=2.9.0.post0",
    "requests>=2.32.5",
]
